<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mood Music</title>
  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css">
  <!-- SCRIPTS -->
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
  <script src="/scripts/app.js"></script>

</head>
<body>
  <div class="container">
    <!-- header section -->
    <div class="row justify-content-center">
      <div class="mood-music">
        <h1>Mood Music</h1>
      </div>
    </div>
    <div class="row justify-content-center">
    <!-- accordion for instructions -->
      <div id="instructionsAccordion" data-children=".item">
        <div class="item">
          <a data-toggle="collapse" data-parent="#instructionsAccordion" href="#Accordion1" aria-expanded="false" aria-controls="Accordion1">
            Instructions</button>
          </a>
          <div id="Accordion1" class="collapse" role="tabpanel">
            <p class="mb-3">How to use this app? What to do?</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!-- moods section-->
    <div class="row justify-content-center mood-selection">
      <div class="col-2 add-mood" id="addMoodButton">+</div>
    </div>
    <!-- current mood -->
    <div class="row justify-content-center"> <!--  -->
      <div class="col-md-10 mood-image current-mood">
        <img src="/images/mood-music-01.png">
          <!-- append title content -->
          <!-- append accordion content -->
      </div>
    </div>
    <!-- modal to add new mood -->
    <!-- Modal begin -->
    <div class="modal fade" id="addMoodModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add your mood</h5>
            <button type="text" id="addMoodButton" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
    <!-- form to add a mood begin-->
            <form id="addMood">
              <div class="form-group">
                <label class="col-form-label" for="moodName">Mood:</label>
                <input type="text" class="form-control" name="name" id="moodName" maxlength="10" placeholder="Relaxed...">
              </div>
              <div class="form-group">
                <label class="col-form-label" for="moodDescription">Mood description:</label>
                <input type="text" class="form-control" name="description" id="moodDescription" placeholder="Sitting by the waterfall...">
              </div>
              <!-- select background color -->
                <label class="form-check-label" for="colorPicker">
                  <input class="form-check-input position-static" id="colorPicker" type="color" name="color" value="#fff000" aria-label="...">
                Select your background color</label>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
              </form>
              <!-- form to add mood end -->
            </div>
          </div>
        </div>
        <!-- form to add mood end -->

        <!-- modal to add song begin -->
        <div class="modal fade" id="addSongModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add a song</h5>
                <button type="text" id="addSongButton" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <!-- modal form -->
                <form id="addSongForm">
                  <div class="form-group">
                    <label class="col-form-label" for="name">Song name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Thriller" required>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="artist">Artist</label>
                    <input type="text" class="form-control" name="artist" id="artist" placeholder="Michael Jackson" required>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="url">SoundCloud Song URL</label>
                    <input type="text" class="form-control" name="url" id="url" placeholder="Song url" required>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="notes">Notes</label>
                    <input type="text" class="form-control" name="notes" id="notes" placeholder="This is my favorite song">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save song</button>
                  </div>
                </form>
                <!-- form to add song end -->
              </div>
            </div>
          </div>
        </div>
        <!-- modal to add song end  -->

    <!-- footer section -->

    <hr>
    <footer class="row justify-content-center">
      <p>&copy; 2017     Created by Tina & Eva-Liisa @ GA</p>
    </footer>

  </div>
</body>
</html>
